/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body{
    font-family: 'Poppins', sans-serif !important;
}

.myButton{
    border-radius: 30px;
    min-width: 250px;
    font-weight: 600;
    background-color: #516975;
    text-decoration: none;
    display: inline-block;
    height: 64px;
    color: white;
    border: none;
    box-shadow: 2px 10px 18px 2px rgba(81,105,117,0.18);
}

.judul{
    color: #7CC1BC;
}

h1, h2, h3, p, thead, tbody{
    color: #55595C;
}

.myCard{
    width: 40%;
    background-color: white;
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 2px 2px 22px rgba(180, 153, 153, 0.3);
    cursor: pointer;
}

.myCard img{
    width: 60px;
}

.nomor{
    color: #7CC1BC;
}

.layanan{
    color: #55595C;
    font-weight: 500;
    font-size: 18px;
}

a{
    text-decoration: none;
    color: #55595C;
    margin-bottom: 7px;
    display: inline-block;
}

.formCard{
    border-radius: 24px;
    padding: 50px;
}

.default-radius{
    border-radius: 24px;
}

.chaptcha{
    width: 300px;
    border-radius: 12px;
}

.chaptcha .form-floating{
    width: 170px;
    margin-right: 20px;
}

.refresh{
    width: 58px;
    height: 58px;
    background-color: #DCE1E3;
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
}

.refresh img{
    margin: 18px;
}

.fluid{
    width: 100% !important;
}


.fw-semiBold{
    font-weight: 600;
}

.color-success{
    color: #30A487;
}

.color-danger{
    color: #D52A3B;
}

.container-edit{
    width: 70%;
}

.display-block{
    display: block;
}

.myCardBarang{
    width: 200px;
    height: 300px;
    max-height: 350px;
}

.myCardBarang img{
    width: 200px;
    height: 200px;
    border-radius: 12px;
}

.myCardBarang .stok{
    background-color: #E5F3F2;
    color: #3E605E;
    font-weight: 500;
    font-size: 12px;
    padding: 3px 8px;
    border-radius: 5px;
}

.myCardBarang .nama{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.myCardBarang .harga{
    color: #939598;
    font-size: 14px;
}